<h1><%= @project.name %></h1>

<h3>Systems (<%= @project.piping_systems.size %>)</h3>
<%= link_to "Add System", new_project_piping_system_path(@project), :class => "btn" %>
<p>
  <table class="table table-condensed">
    <tr>
      <th>Name</th>
      <th>Tag</th>
      <th>Pipe Sched.</th>
      <th>Fitting Sched.</th>
      <th>Tee Height</th>
      <th>Unit Conn. Size</th>
    </tr>
<% @project.piping_systems.each do |system| %>
    <tr>
      <td><%= h link_to system.name, project_piping_system_path(@project, system) %></td>
      <td><%= h system.system_tag %></td>
      <td><%= h system.pipe_schedule %></td>
      <td><%= h system.fitting_schedule %></td>
      <td><%= h to_feet_and_inches(system.typical_tee_height) %></td>
      <td><%= h to_feet_and_inches(system.unit_connection_size) %></td>
    </tr>
<% end %>
  </table>
</p>

<h3>Floors (<%= @project.floors.size %>)</h3>
<%= link_to "Add Floor", new_project_floor_path(@project), :class => "btn" %>

<p>
  <table class="table table-condensed">
    <tr>
      <th>Floor</th>
      <th>Slab Thickness</th>
      <th>Ceiling Height</th>
      <th>Risers</th>
    </tr>
  <% @project.floors.each do |floor| %>
    <tr>
    	<td><%= h link_to floor.floor_number.ordinalize, project_floor_path(@project, floor) %></td>
    	<td><%= h to_feet_and_inches(floor.slab_thickness) %></td>
    	<td><%= h to_feet_and_inches(floor.ceiling_height) %></td>
    	<td>0</td>
    </tr>
  <% end %>
  </table>
</p>

<p><%= link_to 'Edit', edit_project_path(@project), :class => "btn btn-primary" %>&nbsp;<%= link_to 'Back', projects_path, :class => "btn btn-inverse" %></p>
